.body{
    margin: 0%;
    height: 100%;
    width: 100%;
}

/* Começo do Cabeçalho*/
.headerSetup{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%; 
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
}
.logo{
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-family: 'Lato', sans-serif;
}
.menu{
    display: flex;
    justify-content:space-around;
    width: 10%;
}

/* Fim do Cabeçalho*/
/* Começo do Banner*/

.banner{
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner img{
    width: 100%;
}

/* Fim do Banner*/

.content{
    display: flex;
    justify-content: center;
    border-style: dashed;
    margin: 15px 0 15px 0;
}
.foter{
    display: flex;
    justify-content: center;
    border-style: dashed;
    margin: 15px 0 15px 0;
}